/*
Syntax error: Invalid CSS after "  font-family": expected "{", was "='Give You Glor..."
        on line 5 of /Users/korenlcohen/octopress/sass/custom/_styles.scss
        from line 10 of /Users/korenlcohen/octopress/sass/screen.scss

1: /Users/korenlcohen/octopress/sass/screen.scss

Backtrace:
/Users/korenlcohen/octopress/sass/custom/_styles.scss:5
/Users/korenlcohen/octopress/sass/screen.scss:10
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:1146:in `expected'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:534:in `block'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `call'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:1122:in `rethrow'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:554:in `block_child'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:535:in `block'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:553:in `block_child'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/scss/parser.rb:27:in `parse'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/engine.rb:274:in `to_tree'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `load'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `<main>'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `eval'
/Users/korenlcohen/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  font-family\": expected \"{\", was \"='Give You Glor...\"\A         on line 5 of /Users/korenlcohen/octopress/sass/custom/_styles.scss\A         from line 10 of /Users/korenlcohen/octopress/sass/screen.scss\A \A 1: /Users/korenlcohen/octopress/sass/screen.scss"; }
